@model UpdateCollaboratorDto

@{
    ViewData["Title"] = "تعديل مشاركة المهمة ";
    Layout = null;
}

<form asp-action="Update" class="ajaxForm" tname="#kt_datatable">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ToDoListId" class="control-label"></label>
                <select asp-for="ToDoListId" class="form-control" asp-items="@ViewBag.ToDoList"></select>
                <span asp-validation-for="ToDoListId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="تعديل" class="btn btn-primary" />
        <a data-dismiss="modal" aria-label="Close" class="btn btn-danger">الغاء</a>
    </div>
</form>


<script>
    PageLoadActions();
</script>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>